.mainDiv{
    width: 90%;
    margin: auto;
}

.mainHeadingDiv{
    width: 100%;
    text-align: center;
}

.mainBtn{
    margin: 5px;
    border: none;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}

.mainBtn:hover{
    background-color: seagreen;
    color: #fff;
}

.mainBugDiv{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.bugDiv{
    padding: 5px;
    width: 200px;
    height: 100px;
    margin: 0.5%;
    border: 1px solid black;
    overflow: auto;
}

.bugDiv div{
    margin-top: 5px;
}

.popUpBack{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}

.popUp{
    width: 450px; 
    text-align: center; 
    height: 300px; 
    background-color: seagreen; 
    position: fixed; 
    left: 32.5%; 
    top: 150px; 
    margin: auto; 
    border-radius: 5%;
}

.closePopUp{
    float: right; 
    cursor: pointer; 
    margin-right: 15px; 
    margin-top: 10px; 
    font-weight: bold;
}

.popUpHeading{
    margin-top: 70px; 
    color: #fff;
}

.popUpInputDiv{
    margin-top: 10px;
}

.popUpInputDiv input{
    padding: 10px; 
    font-size: 15px;
}

.popUpSubmitBtn{
    margin-top: 20px;
}

.popUpSubmitBtn button{
    border: none; 
    padding: 7px; 
    font-size: 15px; 
    background-color: black; 
    color: #fff;
}